@using IGN.Data
@model greenopt_IgNewsEntities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="IncisiveStudio" />
    <meta name="description" content="" />
    <meta name="keywords" content="html5,css3,jquery,portfolio,creative,design" />
    <title>English</title>

    @RenderSection("StyleScript", false)

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/styles.css" id="color-style">
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" type="text/css" />
    <link rel="stylesheet" href="~/css/infinity-glyph.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


    <!-- These are all the javascript files -->

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- javascript -->
    <script src="~/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/js/jquery.bxslider.min.js"></script>
    <script src="~/js/jquery.nivo.slider.pack.js"></script>
    <script src="~/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/progressbar-plugin.js"></script>
    <script src="~/js/jquery.fittext.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/color-picker.js"></script>
    <script src="~/js/jquery.retina.js"></script>
</head>



<body>

    <div class="container">
        <div class="row">

            <header id="header" class="clearfix">
                <div class="col-md-8">
                    <a href="index.html">
                        <h1 class="logo">International Green News</h1>
                    </a>
                </div>
                <div class="col-md-4">
                    <form class="navbar-form" role="search">
                        <div id="form-group">
                            <input class="form-control custom-search-box bg-shadow" type="text" placeholder="Search">
                            <div class="search-icon"><i class="icon-search"></i></div>
                            <div class="su-search-box">
                                <ul class="quicklinks-section">
                                    <li>
                                        <a href="#"><i class="icon-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-behance"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-skype"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="ddown dropdown-toggle langheader" data-toggle="dropdown">Languages<i class="icon-angle-down"></i></a>

                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="~/Home/Index">English</a>
                                            </li>
                                            <li>
                                                <a href="~/Ar/Index">Arabic</a>
                                            </li>
                                            <li>
                                                <a href="~/Fa/Index">Persian</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </header>
        </div>
    </div>

    <div id="nav-wrapper" class="clearfix">
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-12 no-padding-right">
                    <div class="slogan">
                        <h6>International Green News</h6>
                    </div>
                </div>
                <div class="col-md-10 col-sm-12 no-padding-left">
                    <nav class="navbar navbar-default" role="navigation">

                        <div class="navigation collapse navbar-collapse right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                @{ greenopt_IgNewsEntities db = new greenopt_IgNewsEntities();

                                    db.Database.Connection.Open();
                                    }

                                @foreach (var item in db.tblMenus.Where(i=> i.LanguageID == 1).ToList().OrderByDescending(x => x.Priority))
                                {
                                 <li>
                                    <a href = "/Home/CategorySelected/@item.MenuName.Replace(' ','-').ToString()" > @item.MenuName </a>
                                 </li>
                                }
                              

                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
        </div>

    </div>

    <div class="container">
        <nav class="navbar navbar-default portfolio-navigation" role="navigation">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse left" id="portfolio-navigation-collapse">
                <ul class="nav navbar-nav portfolio-navbar-nav navbar-right">
                    <li>
                        <a href="#">Latest News</a>
                    </li>
                    <li>
                        <a href="#">Most viewed news of the week</a>
                    </li>
                    <li>
                        <a href="#">Most viewed news of the day</a>
                    </li>
                    <li>
                        <a href="#">News topics</a>
                    </li>
                    <li>
                        <a href="#">Latest news on your site</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
    @RenderBody()

    @RenderSection("MainContent", false)


    <div class="divider">
        <div class="container">
            <div class="contact-info">
                <a href="#">CONTACT INFO</a>
            </div>
        </div>
    </div>
    <div class="privacy-section">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="#">COSTOMER SERVICE</a>
                    </li>
                    <li>
                        <a href="#">ADVERTISE WHIT US</a>
                    </li>
                    <li>
                        <a href="#">TERMS OF SERVICE</a>
                    </li>
                    <li>
                        <a href="#">PRIVACY POLICY</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <i class="icon-mail"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">NEWSLETTER</h4>
                                Lorem ipsum dolor sitdolor
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <div class="form-control-wrapper clearfix">
                            <input class="form-control" type="text" placeholder="Enter your email address">
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">SIGN UP</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="copyright">
                    &copy 1988-2013 INFINITY Company All Right Reserved
                </div>
            </div>
        </div>
    </div>


</body>
</html>

@RenderSection("ScriptJs", false);


<script>
    $(document).ready(function () {

        $.get("/Sync/GetDataTest111", function (data) {
            //var $xml = $(data);

            var $qs = JSON.parse(data)

            console.log($qs);

            var allhtml = "";

            $.each($qs, function (index, value) {
                var $taga = "<div><a title=\"" + value.title + "\" href=\"" + value.link + "\">" + value.title + "<a> : <span> " + value.description + "</span> </div> ";

                console.log($taga);
                allhtml += $taga;
            });

            $('#MyData').append(allhtml)

            var $xml = data;

            $('#MyData').html($xml);

        });

        //var interval = setInterval(function () {

        //    $.get("/Sync/GetData", function (data) {
        //        //var $xml = $(data);

        //        var $qs = JSON.parse(data)

        //        console.log($qs);

        //        var allhtml = "";

        //        $.each($qs, function (index, value) {
        //            var $taga = "<div><a title=\"" + value.title + "\" href=\"" + value.link + "\">" + value.title + "<a> : <span> " + value.description + "</span> </div> ";

        //            console.log($taga);
        //            allhtml += $taga;
        //        });

        //        $('#MyData').append(allhtml)

        //        var $xml = data;

        //        $('#MyData').html($xml);

        //    });


        //}, 0);
    });
</script>