@using IGN.Data
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutFa.cshtml";
}



@section MainContent{
    <div class="container">

        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs no-padding">
            <div class="row no-padding">
                <div class="paddingbottom5 col-lg-12 col-md-12 hidden-sm hidden-xs">
                    <div class="paddingbottom5">
                        <a target="_blank" href="http://www.shahrekhabar.com/ads/2198">
                            <img src="http://www.shahrekhabar.com/swf/1499836016801.gif" alt="دیجی کالا" class="img-responsive" height="400" width="130">
                        </a>
                    </div>
                    <div class="paddingbottom5">
                        <a target="_blank" href="http://www.shahrekhabar.com/ads/2015">
                            <img src="http://www.shahrekhabar.com/swf/1494670454104.gif" alt="نوا" class="img-responsive" height="200" width="130">
                        </a>
                    </div>
                    <div class="paddingbottom5">
                        <a target="_blank" href="http://www.shahrekhabar.com/ads/2200">
                            <img src="http://www.shahrekhabar.com/swf/1499838999659.gif" alt="بامیلو- تیر2" class="img-responsive" height="200" width="130">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 no-padding">


            <div class="col-sm-12">
                <div class="row margin-bottom-10">
                    @{

                        if (ViewData["MagazineSelected"] != null)
                        {

                            greenopt_IgNewsEntities db = new greenopt_IgNewsEntities();

                            var myList = (List<tblMagazine>)ViewData["MagazineSelected"];


                            foreach (var item in myList)
                            {
                                <div class="col-sm-6 padding-0-5">
                                    <div class="news_box">
                                        <div class="box_head text-align-left">
                                            <a href="#">@item.MagazineName</a>
                                        </div>
                                        <ul>
                                            @foreach (var inside in db.tblNews.Where(i => i.MagazineID == item.MagazineID).ToList())
                                            {

                                                <li>
                                                    <a class="left" target="_blank" href="~/Home/Detail/@inside.NewsID">
                                                        @inside.Title
                                                  @*  <div class="news_source right hidden-sm hidden-xs">@inside.Descriptions</div>*@
                                                </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }



                        }




                    }
                </div>






                @{
                    if (ViewData["MagazineSelected"] != null)
                    {
                        greenopt_IgNewsEntities db = new greenopt_IgNewsEntities();
                        var myList = (List<tblMagazine>)ViewData["MagazineSelected"];
                        foreach (var item in myList)
                        {



                            <div class="row margin-bottom-10">
                                <div class="col-sm-6 padding-0-5">
                                    <div class="news_box">
                                        <div class="box_head text-align-right">
                                            <a href="#">@item.MagazineName</a>
                                        </div>
                                        <ul>
                                            @foreach (var inside in db.tblNews.Where(i => i.MagazineID == item.MagazineID).ToList())
                                            {

                                                <li>
                                                    <div class="news_source left hidden-sm hidden-xs">@item.MagazineName</div>
                                                    <a class="right" target="_blank" href="~/Home/Detail/@inside.NewsID">@inside.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6 padding-0-5">
                                    <div class="news_box">
                                        <div class="box_head text-align-right">
                                            <a href="#">@item.MagazineName</a>
                                        </div>
                                        <ul>
                                            @foreach (var inside in db.tblNews.Where(i => i.MagazineID == item.MagazineID).ToList())
                                            {

                                                <li>
                                                    <div class="news_source left hidden-sm hidden-xs">@item.MagazineName</div>
                                                    <a class="right" target="_blank" href="~/Home/Detail/@inside.NewsID">@inside.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        }
                    }
                }

                <div class="row margin-bottom-10">
                    <div class="col-sm-6 padding-0-5">
                        <div class="news_box">
                            <div class="box_head text-align-right">
                                <a href="http://www.shahrekhabar.com/اخبار-ورزشی">اخبار ورزشی</a>
                            </div>
                            <ul>
                                <li>
                                    <div class="news_source left hidden-sm hidden-xs">افکار نیوز</div>
                                    <a class="right" target="_blank" href="http://www.shahrekhabar.com/sport/150002148008488">رونمایی از اختلاف جدید در پرسپولیس</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 padding-0-5">
                        <div class="news_box">
                            <div class="box_head text-align-right">
                                <a href="http://www.shahrekhabar.com/اخبار-ورزشی">اخبار ورزشی</a>
                            </div>
                            <ul>
                                <li>
                                    <div class="news_source left hidden-sm hidden-xs">افکار نیوز</div>
                                    <a class="right" target="_blank" href="http://www.shahrekhabar.com/sport/150002148008488">رونمایی از اختلاف جدید در پرسپولیس</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>




                <div class="row margin-bottom-10">
                    <div class="col-sm-12 padding-0-5">
                        <div class="news_box">
                            <div class="box_head text-align-right">
                                <a href="http://www.shahrekhabar.com/اخبار-ورزشی">اخبار ورزشی</a>
                            </div>
                            <ul>
                                <li>
                                    <div class="news_source left hidden-sm hidden-xs">افکار نیوز</div>
                                    <a class="right" target="_blank" href="http://www.shahrekhabar.com/sport/150002148008488">رونمایی از اختلاف جدید در پرسپولیس</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-slideshow clearfix">
                <div class="col-sm-8">
                    <div class="bg-shadow content-slider tab-content">
                        <div class="content-slider-entry tab-pane" id="GRAPHICRIVER">
                            <img src="img/envato-logos/griver.png" title="Image title" alt="alternative information">
                            <blockquote>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                            <p>
                                John Doe, Director at Company.
                            </p>
                        </div>
                        <div class="content-slider-entry tab-pane active" id="ENVATO">
                            <img src="img/envato-logos/envato.png" title="Image title" alt="alternative information">
                            <blockquote>
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                            <p>
                                Lorem ipsum, Founder and Director at Company.
                            </p>
                        </div>
                        <div class="content-slider-entry tab-pane" id="THEMEFOREST">
                            <img src="img/envato-logos/themeforest.png" title="Image title" alt="alternative information">
                            <blockquote>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                            <p>
                                John Doe, Director at Company.
                            </p>
                        </div>
                        <div class="content-slider-entry tab-pane" id="ACTIVEDEN">
                            <img src="img/envato-logos/activeden.png" title="Image title" alt="alternative information">
                            <blockquote>
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                            <p>
                                Lorem ipsum, Founder and Director at Company.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="content-slider-pager">
                        <ul id="content-slider">
                            <a href="#GRAPHICRIVER" data-toggle="tab">
                                <li class="bg-shadow">GRAPHICRIVER</li>
                            </a>
                            <a href="#ENVATO" data-toggle="tab">
                                <li class="bg-shadow active">ENVATO</li>
                            </a>
                            <a href="#THEMEFOREST" data-toggle="tab">
                                <li class="bg-shadow">THEMEFOREST</li>
                            </a>
                            <a href="#ACTIVEDEN" data-toggle="tab">
                                <li class="bg-shadow">ACTIVEDEN</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <div class=" hidden-xs">
                <div class="our-clients">
                    <div class="our-client-header">
                        <h2>OUR CLIENTS</h2>

                        <div class="control-box">
                            <a data-slide="next" href="#Ourclients" class="client-carousel-control"><i class="icon-angle-right"></i></a>
                            <a data-slide="prev" href="#Ourclients" class="client-carousel-control"><i class="icon-angle-left"></i></a>
                        </div>
                    </div>
                    <div class="our-clients-carousel">
                        <div class="col-sm-12">
                            <div class="carousel slide" id="Ourclients">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <ul class="thumbnails">
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/unityb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/enterprisesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/tvdigitalb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/changesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /Slide1 -->
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/enterprisesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/tvdigitalb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/unityb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/changesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /Slide2 -->
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/unityb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/changesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/enterprisesb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                            <li class="col-sm-3">
                                                <a href="#">
                                                    <img class="grayscale img-responsive" src="~/images/clients/tvdigitalb.png" title="Image title" alt="alternative information" effect="mono" inverse="true">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




